<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package
			name="com.aniu.msg.dal.object" />
	</typeAliases>
    <mappers>
    	<mapper resource="sqlMap/Account.xml"/>
    </mappers>

</configuration>